@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Poppins:ital,wght@0,700;1,400;1,800&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  background-color: hsl(0, 0%, 94%);
}
.container {
  width: 450px;
  height: 500px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px 10px 180px 10px;
  padding: 25px;
  margin: auto;
}
.date {
  display: flex;
  justify-content: space-between;  margin-bottom: 50px;

}
button {
  background-color: black;
  border-radius: 50%;
  border: none;
  padding: 5px;
  text-align: right
}

button:hover{
    background-color:hsl(259, 100%, 65%) ;
}

.paint{
    padding-left: 50px;
    font-style: italic;
}

p {
  font-weight: 800;
  font-size: 70px;
  line-height: 20px;
  padding:10px ;
}

legend{
    text-transform: uppercase;
    color:hsl(0, 0%, 86%) ;
}

.date__tex{
    width: 90px;
    height: 35px;
    border: 1px solid hsl(0, 0%, 86%) ;
    border-radius: 5px
}

.ano,
.mes,
.dia {
  color: hsl(259, 100%, 65%);

}
